.SideBar {
  /* layout */
  width: 350px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px; 

  /* design */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  font-size: 14px;
}

.SideBar > .Header {
  /* layout */
  width: 260px;
  height: 60px;


  /* design */
  background: #fff;
  border-radius: 10px;

}

.SideBar > .ProfileOutline {
  /* layout */
  box-sizing: border-box; 
  width: 300px;
  height: 550px;
  padding: 15px; 

  /* design */
  background: #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.SideBar > .ProfileOutline > .ProfileInline {
  /* layout */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  padding-top: 15px;
  margin: 0 auto; 
  
  /* design */
  background: #fff;
  border-radius: 10px;
}

.ImageBox {
  /* layout */
  width: 220px;
  height: 180px;

  /* design */
  background: #d9d9d9;
  border-radius: 8px;
}

.ImageBox img {
  /* layout */
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* design */
  border-radius: 8px;
}

.Divider {
  /* layout */
  width: 80%;
  height: 1px;

  /* design */
  background: rgba(0,0,0,0.1);
}

.Introduce {
  /* layout */
  padding: 0px 20px;

  /* design */
  line-height: 1.6;
  color: #333;
  font-weight: 600;
}

.SkillTitle {
  /* layout */
  margin : 0 auto;

  /* design */
  font-size: 16px;
  font-weight: 700;
  color: #555;
}

.SkillList {
  /* layout */
  display: flex;
  flex-wrap: wrap;  
  gap: 5px;
  justify-content: center;
}

.Skill {
  /* layout */
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;

  /* design */
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.10);
  font-weight: 700;
  color: #222;
  cursor: default;
}

.Icon {
  /* layout */
  width: 14px;
  height: 14px;
}

#CplusplusIcon {
  /* design */
  fill: #00599C;
}

#PythonIcon {
  /* design */
  fill:#3776AB;
}

#JavaScriptIcon {
  /* design */
  fill:#F7DF1E;
}

#ReactIcon {
  /* design */
  fill:#61DAFB;
}

.Info {
  /* design */
  line-height: 1.6;
  color: #555;
}

.Info a {
  /* design */
  text-decoration-line: none;
  color: #555;
}

.Info a:hover {
  color : lightgray;
}

.SideBar > a {
  /* design */
  text-decoration-line: none;
  color: black;
}

.WorldLogo {
  /* layout */
  width: 50px;
  height: 50px;
}
