.SideBar {
  width: 350px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding: 14px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px; 
}

.SideBar > .Header {
  width: 260px;
  height: 60px;

  background: #fff;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5em;
  font-weight: 700;

  margin: 0; 
}

.SideBar > .ProfileOutline {
  width: 300px;
  height: 550px;

  background: #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  border-radius: 10px;

  padding: 15px;          
  box-sizing: border-box; 
}

.SideBar > .ProfileOutline > .ProfileInline {
  width: 100%;
  height: 100%;

  background: #fff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 

  padding-top: 15px;
  box-sizing: border-box;

  margin: 0; 
}

.ImageBox {
  width: 220px;
  height: 180px;
  background: #d9d9d9;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0; 
}

.ImageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.Divider {
  width: 80%;
  height: 1px;
  background: rgba(0,0,0,0.1);
  margin: 0; 
}

.Introduce {
  padding: 0px 20px;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  font-weight: 600;
}

.SkillTitle {
  margin : 0;
  font-size: 15px;
  font-weight: 700;
  color: #555;

  display: flex;
  align-items: center;
  gap: 6px;

}

.SkillList {
  display: flex;
  flex-wrap: wrap;  
  gap: 5px;
  justify-content: center;
}

.Skill {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 6px 10px;
  border-radius: 999px;

  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.10);

  
  font-size: 14px;
  font-weight: 700;
  color: #222;

  white-space: nowrap; 
}

.CplusplusIcon {
  width: 14px;
  height: 14px;
  fill: #00599C;
}

.PythonIcon {
  width: 14px;
  height: 14px;
  fill:#3776AB;
}

.JavaScriptIcon {
    width: 14px;
  height: 14px;
  fill:#F7DF1E;
}

.ReactIcon {
    width: 14px;
  height: 14px;
  fill:#61DAFB;
}

.Info {
  font-size: 14px;
   line-height: 1.6;
  color: #555;
}

.University a, .Name a, .Email a {
  text-decoration-line: none;
  color: #555;
}