html, body {
  height: 100%;
  background: #e9f5ff; /* 아주 연한 하늘색/회색 */
}

body {
  margin: 0;
  display: block;
}

.homepage {
    width: 1400px;
    height: 650px;
    margin: 0 auto;
    
    display: flex;
    gap: 15px;
    padding: 22px;
    background-color: #86ccff;
    box-shadow: 0 18px 45px rgba(0,0,0,0.12);
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 18px;
}