.HomeOutline {
  /*layout*/
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  gap:10px;  
}

.Home a {
  /*design*/
  text-decoration-line: none;
  color: black;
}

.HomeMain {
  /*layout*/
  width: 908px;
  height: 70%;
  margin: 0;
  padding: 20px;

  /*design*/
  background: #d9d9d9;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.top {
  /*layout*/
  width: 952px;
  height: 95px;
  display: flex;
  gap:5px;
}

.Inline {
  /*layout*/
  height: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*design*/
  background-color: white;
  border-radius: 8px;
}

.bottom {
  /*layout*/
  display: flex;
  gap: 50px;
}

.csImage {
  /*layout*/
  width: 300px;
  height: 200px;
}

.fsImage {
  /*layout*/
  width: 300px;
  height: 200px;
}

.computerScience {
  /*layout*/
  width: 350px;
}

.fullstack {
  /*layout*/
  width: 350px;
}

.Top h3 {
  /*layout*/
  margin-top: 0;

  /*design*/
  color: #2f6fdc;
}

.computerScience p, .fullstack p {
  /*layout*/
  margin:0;
  
  /*design*/
  font-size: 14px;
  color: #555;

}

