.ProjectList {
  /*layout*/
  flex: 1;
  overflow-y: auto;      
  min-height: 0;           
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Project a {
  /*design*/
  text-decoration-line: none;
  color: black;
}