.Project, .Profile, .Home {
  /*layout*/
  width: 1000px;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px; 

  /*design*/
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
}


.Header {
  /*layout*/
  width: 260px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; 

  /*design*/
  background: #fff;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 700;
  line-height: normal;
  
}

.ProjectOutline, .ProfileOutline, .HomeOutline {
  /*layout*/
  position: relative;
  width: 100%;
  height: 550px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;

  /*design*/
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
}